.gradle
/fabric.properties
/local.properties
/.idea/workspace.xml
/.idea/dictionaries/
/.idea/libraries/
.DS_Store
/build
*~
/gfx/logo.png
/gfx/sv
/gfx/feature.png
/src/main/res/drawable-*dpi/
/.idea/caches/
